@import '../../../App.css';

/* main */
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'aside-right'
    'aside-left';
  align-items: flex-start;
  gap: 1rem;
}
.aside-left {
  grid-area: aside-left;
}
.aside-right {
  grid-area: aside-right;
  position: relative;
}

/* Side options */
.aside {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 1rem;
}
.aside__options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.35rem;
  font-weight: 600;
  width: 100%;
  padding: 0.55rem 0.75rem;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--white);
  color: var(--tertiary);
  transition: all 200ms;
}
.aside__options:hover {
  background-color: var(--tertiary);
  color: var(--white);
}
.aside__option__image {
  height: 2rem;
  width: auto;
  object-fit: contain;
}
.aside__options__span {
  display: inline;
  text-align: center;
  padding-left: 1rem;
  margin: 0;
}

/* post */
.post {
  width: 90%;
  max-width: 50rem;
  color: var(--primary);
  background-color: var(--white);
  border-radius: 20px;
  margin: 1.5rem auto;
  padding: 1.5rem;
}
.post.darktheme {
  color: var(--tertiary);
}
.post__header {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.post__header img {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid var(--tertiary);
  padding: 0.05rem;
}
.post__header h1 {
  font-size: 1.15rem;
  font-weight: 600;
}
.post__header h2 {
  font-size: 1rem;
  font-weight: 400;
}
.post__banner__ctr {
  width: 98%;
  height: 17rem;
  border-radius: 10px;
  margin: 1rem 0;
}
.post__banner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.post__title {
  margin: 1.5rem 0.75rem;
  font-size: 1.5rem;
}
.post__paragraph {
  margin: 1rem 0.75rem;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: justify;
}
.post__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 1rem 0 0;
  font-size: 1.35rem;
  color: var(--tertiary);
}
.liked {
  color: var(--red);
}

/* Suggestion */
.suggestions__ctr {
  width: 100%;
  display: none;
}
.suggestion__header {
  font-size: 1.25rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary);
  margin: 1.25rem auto;
  color: var(--primary);
  max-width: fit-content;
}
.suggestion {
  margin: 1rem auto;
  padding: 1.25rem 1rem;
  height: 4.5rem;
  width: 90%;
  background-color: var(--white);
  color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
}
.suggestion.darktheme {
  color: var(--tertiary);
}
.suggestion img {
  height: 150%;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid var(--tertiary);
  padding: 0.05rem;
}

/* Media queries */
@media screen and (min-width: 400px) {
  .aside {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: 2.5fr 1fr;
    grid-template-areas: 'aside-left aside-right';
  }
  .post {
    margin: 1.5rem auto;
  }
  .suggestions__ctr {
    display: block;
  }
  .aside {
    flex-direction: column;
  }
  .aside-right {
    margin: 0 1rem 0 0;
  }
}
