@import '../../../App.css';

.post {
  width: 90%;
  max-width: 50rem;
  background-color: var(--white);
  border-radius: 20px;
  margin: 1.5rem auto;
  padding: 1.5rem;
}
.post__header {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.post__header img {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid var(--tertiary);
  padding: 0.05rem;
}
.post__header h1 {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--tertiary);
}
.post__header h2 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--tertiary);
}
.post__title {
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
  color: var(--tertiary);
}

.post__paragraph {
  margin: 1rem 0.5rem;
  font-size: 1.05rem;
  color: var(--tertiary);
}

.post__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 1rem 0 0;
  font-size: 1.35rem;
  color: var(--tertiary);
}

.liked {
  color: var(--red);
}
