@import '../../../App.css';

.profile {
  margin: 2rem 1.5rem;
}
.profile__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.profile__image {
  width: 10rem;
  margin: 1rem auto;
}
.profile__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}
.profile__details {
  margin: 1rem 0 0 2rem;
  width: 70%;
}
.profile__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 1rem 0;
  flex-direction: column;
}
.profile__heading h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.profile__userId {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem;
  text-align: center;
}
.profile__posts {
  font-size: 1.35rem;
  font-weight: normal;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile__posts span {
  margin-right: 2rem;
}
.profile__paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
  margin: 1rem 0;
}
.profile__link {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.75rem auto;
  text-align: center;
  text-decoration: underline;
}
.profile__link a {
  color: var(--tertiary);
}
.profile__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem auto;
}
.profile__option {
  flex: 1;
  text-align: center;
  padding: 0.75rem;
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--text);
  cursor: pointer;
}
.profile__option.chosen {
  border-bottom: 4px solid var(--tertiary);
  color: var(--tertiary);
}

@media screen and (min-width: 550px) {
  .profile__box {
    flex-direction: row;
    align-items: flex-start;
    width: 85%;
    width: 44rem;
    margin: auto;
  }
  .profile__image {
    width: 10rem;
    margin: 1rem 1rem 0 0;
  }
  .profile__heading {
    justify-content: space-between;
    flex-direction: row;
  }
  .profile__userId {
    text-align: left;
    margin: 1rem 0;
  }
  .profile__posts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 1.5rem 0;
  }
  .profile__paragraph {
    text-align: justify;
    margin: 1.5rem 0;
  }
  .profile__link {
    text-align: justify;
    margin: 1.5rem 0;
  }
}
