@import '../homepage/homepage.css';

/* New Comment */
.post.comment__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0.5rem;
  max-width: 45rem;
}
.post__box {
  height: 100%;
  width: 3rem;
  margin-right: 0.05rem;
}
.post__box img {
  height: 100%;
  width: 3rem;
  object-fit: contain;
  border-radius: 50%;
}
.post__comment {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 1rem;
}
.post__comment input {
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.5rem;
  color: var(--text);
  margin: 0 0.25rem;
}

/* Comments */
.comments {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 45rem;
}
.post__details {
  margin: 0.5rem 1.25rem;
  width: 100%;
}
.post__details h1 {
  font-size: 1.35rem;
}
.post__details h2 {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.comment {
  font-size: 1.75rem;
  font-weight: normal;
}
.comment__btn {
  font-size: 1.05rem;
  font-weight: 500;
  margin: 0 0.25rem;
  color: var(--tertiary);
  background-color: var(--white);
  border: none;
  cursor: pointer;
}
.comment__btn.reply {
  font-size: 1.45rem;
}
.post__details__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Reply */
.reply__box {
  display: flex;
  align-items: flex-start;
  margin: 1rem 1rem;
  width: 100%;
}
.post.reply__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
}
